@import "tailwindcss";
@plugin "@tailwindcss/typography";

@font-face {
  font-family: UberMove;
  src: url("./assets/fonts/UberMoveMedium.otf");
}

@font-face {
  font-family: UberMoveBold;
  src: url("./assets/fonts/UberMoveBold.otf");
}

@theme {
  --font-UberMove: UberMove, "Fira Sans";
  --font-UberMoveBold: UberMoveBold, "Fira Sans";
}

@keyframes fade-in {
  from {
    opacity: 0;
    transform: scale(0.97);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}

.animate-fade-in {
  animation: fade-in 0.2s ease-out;
}
