@import "tailwindcss";
@plugin "@tailwindcss/typography";

@font-face {
  font-family: UberMove;
  src: url("./assets/fonts/UberMoveMedium.otf");
}

@font-face {
  font-family: UberMoveBold;
  src: url("./assets/fonts/UberMoveBold.otf");
}

@theme {
  --font-UberMove: UberMove, "Fira Sans";
  --font-UberMoveBold: UberMoveBold, "Fira Sans";
  --color-agendai: #ffc551;
  --color-darker-agendai: #b08838;
  --color-light-gray: #595959;
  --color-darker-light-gray: #383838;
  --color-dark-gray: #212121;
  --color-darker-gray: #141414;
  --color-custom-blue: #007bff;
  --color-darker-custom-blue: #0056b3;
  --color-custom-red: #ff4d4d;
  --color-darker-custom-red: #b30000;
  --color-custom-green: #28a745;
  --color-darker-custom-green: #1e7e34;
  --color-custom-purple: #6f42c1;
  --color-darker-custom-purple: #5a32a3;
  --color-custom-brown: #8b4513;
  --color-darker-custom-brown: #5a2d00;
}

@keyframes fade-in {
  from {
    opacity: 0;
    transform: scale(0.97);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}

.animate-fade-in {
  animation: fade-in 0.2s ease-out;
}

@keyframes slideInLeft {
  from {
    opacity: 0;
    transform: translateX(-50px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.animate-slide-in-left {
  animation: slideInLeft 0.8s cubic-bezier(0.4, 0, 0.2, 1) forwards;
}

.scrollbar-custom::-webkit-scrollbar {
  width: 8px;
  background: transparent;
}

.scrollbar-custom::-webkit-scrollbar-thumb {
  background-color: rgba(100, 100, 100, 0.5);
  border-radius: 10px;
  border: 2px solid transparent;
  background-clip: content-box;
}

.scrollbar-custom {
  scrollbar-width: thin;
  scrollbar-color: rgba(100, 100, 100, 0.5) transparent;
}
