---
import HeroSection from "@pages/home/components/_HeroSection.astro";
import FeaturesSection from "@pages/home/components/_FeaturesSection.astro";
import ServicesSection from "@pages/home/components/_ServicesSection.astro";
import AboutSection from "@pages/home/components/_AboutSection.astro";
---

<div class="flex flex-col">
  <HeroSection />
  <FeaturesSection />
  <ServicesSection />
  <AboutSection />
</div>
