---
import HeroSection from "./components/_HeroSection.astro";
import FeaturesSection from "./components/_FeaturesSection.astro";
import ServicesSection from "./components/_ServicesSection.astro";
import AboutSection from "./components/_AboutSection.astro";
---

<div class="flex flex-col">
  <HeroSection />
  <FeaturesSection />
  <ServicesSection />
  <AboutSection />
</div>
