.favorit-selected-page {
    display: flex;
    height: 100vh;
    width: 100vw;
    background-color: rgb(0, 0, 0);
    color: white;
    flex-direction: column;
    align-items: center;
}

.favorit-selected-container {
    width: 100%;
    height: 100%;
}

.favorit-selected-details {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 55%;
    justify-content: center;
}

.favorit-selected-map {
    height: 77.5%;
    width: auto;
}

.favorit-selected-apagnan {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 10px;
    width: 40%;
    height: 89%;
    margin-left: 3%;
}

.favorit-selected-surface {
    background-color: #1A1A1A;
    border-radius: 10px;
    padding: 2%;
    width: 45%;
    margin-right: 5%;
}

.favorit-selected-price {
    background-color: #1A1A1A;
    border-radius: 10px;
    padding: 2%;
    width: 45%;
}

.favorit-selected-price-surface {
    display: flex;
    flex-direction: row;
}

.favorit-selected-price-surface p {
    color: #B5B5B5;
    font-size: 70%;
}

.favorit-selected-price-surface h1 {
    text-align: right;
    margin-top: 20%;
    font-weight: 100;
}

.favorit-selected-infos-adress {
    display: flex;
    flex-direction: row;
    margin-bottom: 10%;
    color: #B5B5B5;
    margin-top: 1%;
}

.favorit-selected-infos-stars {
    display: flex;
    flex-direction: row;
    color: #596780;
    gap: 0.5%;
}

.favorit-selected-infos {
    background-color: #1A1A1A;
    border-radius: 10px;
    padding: 4%;
    margin-bottom: 2%;
}

.favorit-selected-stats-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1.4%;
}

.favorit-selected-stats-row img {
    width: 12%;
}

.favorit-selected-stats-row img:hover {
    cursor: pointer;
    filter: brightness(0.8);
}

.favorit-selected-AI-sales {
    display: flex;
    flex-direction: row;
    border-radius: 10px;
    width: 100%;
    height:  30%;
    margin-top: 4%;
    padding-bottom: 4%;
    align-items: center;
    justify-content: center;
    gap: 3%;
}

.favorit-selected-AI {
    display: flex;
    flex-direction: column;
    width: 31.5%;
    background-color: #1A1A1A;
    border-radius: 10px;
    padding: 2%;
    height: 100%;
}

.favorit-selected-AI-sales h3 {
    color: #B5B5B5;
    font-size: 100%;
    margin-bottom: 2%;
    margin-top: 1%;
}

.favorit-selected-AI-sales p {
    color: #B5B5B5;
    font-size: 80%;
    font-family:'Courier New', Courier, monospace;
}

.favorit-selected-sales {
    display: flex;
    flex-direction: column;
    width: 50%;
    background-color: #1A1A1A;
    border-radius: 10px;
    padding: 2%;
    height: 100%;
}