.favorit-page {
    display: flex;
    height: 100vh;
    width: 100vw;
    background-color: rgb(0, 0, 0);
    color: white;
    flex-direction: column;
    align-items: center;
}

.favorit-navbar {
    display: flex;
    width: 100%;
    height: 8%;
    color: white;
    font-family: 'InterMedium', sans-serif;
}

.favorit-container {
    display: flex;
    width: 100%;
    height: 92%;
    flex-direction: row;
}

.favorit-left-container {
    display: flex;
    height: 100%;
    width: 55%;
    justify-content: center;
    align-items: center;
}

.favorit-right-container {
    display: flex;
    height: 100%;
    width: 45%;
    flex-direction: column;
    
}

.favorit-right-img-container {
    display: flex;
    height: 55%;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.favorit-list-img {
    display: flex;
    width: 90%;
    height: auto;
    margin-right: 2%;
    cursor: pointer;
}

.favorit-right-button-container {
    display: flex;
    height: 8%;
    width: 100%;
    align-items: center;
}

.favorit-right-button-criteres {
    display: flex;
    height: 94%;
    width: 35%;
    border: none;
    border-radius: 4px;
    background-color: #313131;
    margin-left: 4.3%;
    cursor: pointer;
    justify-content: center;
    align-items: center;
}

.favorit-right-button-criteres:hover {
    background-color: #272727;
}

.favorit-right-button-generer {
    display: flex;
    height: 94%;
    width: 50.5%;
    border: none;
    border-radius: 4px;
    background-color: #3563E9;
    margin-left: 4.3%;
    cursor: pointer;  
    justify-content: center;
    align-items: center;
}

.favorit-right-button-generer:hover {
    background-color: #2E5AD8;
}

.favorit-right-button-criteres-img {
    display: flex;
    height: 65%;
    width: auto;
}

.favorit-right-button-generer-img {
    display: flex;
    height: 25%;
    width: auto;
}

.favorit-left-list-containter {
    display: flex;
    width: 95%;
    height: 93%;
    background-color: #1A1A1A;
    border-radius: 10px;
    margin-left: 4%;
    flex-direction: column;
}

.favorit-left-list-text-container {
    display: flex;
    width: 100%;
    height: 20%;
    flex-direction: column;
}

.favorit-left-list-title-container {
    display: flex;
    width: 100%;
    height: 40%;
    align-items: flex-end;
}

.favorit-list-title-text {
    display: flex;
    font-family: 'UberBold';
    font-size: 180%;
    margin-left: 4%;
}

.favorit-list-title-img {
    display: flex;
    height: 50%;
    width: auto;
    margin-left: 2%;
    margin-bottom: 0.5%;
}

.favorit-list-subtitle-text {
    display: flex;
    font-family: 'UberBold';
    font-size: 90%;
    margin-left: 4.5%;
    color: #62646C;
    width: 80%;
    margin-top: 2%;
}

.favorit-left-list-elements-container {
    display: flex;
    width: 100%;
    height: 80%;
    flex-direction: column;
}

.favorit-list-titles {
    display: flex;
    width: 100%;
    height: 10%;
    flex-direction: row;
    border: #62646C;
    background-color: #272727;
    margin-top: 2vh;
    height: 4vh;
    justify-content: space-around;
    align-items: center;
} 

.favorit-list-titles-text {
    display: flex;
    font-family: 'UberMedium';
    color: #ADADAD;
    font-size: 100%;
}

.favorit-list-elements {
    display: flex;
    width: 100%;
    height: 90%;
    flex-direction: column;
}