<div class="login-page">
    <!-- <div class="theme-switcher">
        <button (click)="toggleTheme()">Switch theme</button>
    </div> -->
    <div class="container">
        <div>
            <label for="email">Email:</label>
            <input type="text" id="email" name="email" />
        </div>
        
        <div>
            <label for="pass">Password:</label>
            <input type="password" id="pass" name="password" minlength="8" required />
        </div>
        
        <input type="submit" value="Sign in" />
        <div class="sign-in">
            <p>New here ?</p>
            <a>Register</a>
        </div>
    </div>
</div>
