<div class="smart-ranking-page">
    <app-navbar></app-navbar>
    <div class="smart-ranking-container">
        <div class="smart-ranking-list">
            <h1>Classement Intelligent des parcelles</h1>
            <p>Comparez vos parcelles favorites en fonction de vos critères personnalisés et obtenez un classement par note pour identifier celle qui vous convient le mieux en un coup d'œil.</p>
            <div class="smart-ranking-list-titles">
                <h2>Identifiant de parcelle</h2>
                <h2>Prix €/m²</h2>
                <h2>Note</h2>
            </div>
            <div class="smart-ranking-list-elements">
                <app-parcel-list-element 
                    *ngFor="let parcel of parcels"
                    [parcelId]="parcel.parcelId"
                    [price]="parcel.price"
                    [starCount]="parcel.starCount">
                </app-parcel-list-element>
            </div>
            <div class="smart-ranking-buttons">
                <div class="smart-ranking-criterias">
                    <div class="smart-ranking-criterias-text">
                        <h3>Vos critères</h3>
                        <h4>20 critères sélectionnés</h4>
                    </div>
                    <img src="smart-ranking/criter.svg" class="smart-ranking-criterias-img" />
                </div>
                <div class="smart-ranking-compare" (click)="generateRanking()">
                    <h3>Générer le classement</h3>
                    <img src="smart-ranking/gener.svg" class="smart-ranking-criterias-gener" />
                </div>
            </div>
        </div>
        <img src="smart-ranking/favoris.png" class="smart-ranking-favourites" />
    </div>
</div>
