.navbar {
    display: flex;
    width: 98.9vw;
    height: 7vh;
    color: white;
    font-family: 'InterMedium', sans-serif;
}

.navbar-logo-container {
    display: flex;
    width: 15%;
    height: 100%;
}

.navbar-logo-button {
    display: flex;
    width: 100%;
    height: 100%;
    border: none;
    background: transparent;
    cursor: pointer;
    align-items: center;
}

.navbar-logo {
    display: flex;
    width: 70%;
    height: auto;
    margin-left: 3%;
}

.navbar-search-container {
    display: flex;
    width: 70%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.navbar-menu-container {
    display: flex;
    width: 15%;
    height: 100%;
    justify-content: flex-end;
    align-items: center;
    margin-right: 1%;
}

.navbar-menu-user-button {
    display: flex;
    width: 27%;
    height: 100%;
    border: none;
    justify-content: center;
    cursor: pointer;
    align-items: center;
    background: transparent;
}

.navbar-menu-user-icon {
    display: flex;
    height: 70%;
    width: auto;
}

.navbar-menu-map-button {
    display: flex;
    width: 20%;
    height: 100%;
    border: none;
    justify-content: center;
    cursor: pointer;
    align-items: center;
    background: transparent;
}

.navbar-menu-favorit-button {
    display: flex;
    width: 20%;
    height: 100%;
    border: none;
    justify-content: center;
    cursor: pointer;
    align-items: center;
    background: transparent;
}

.navbar-search-button {
    display: flex;
    height: 100%;
    width: 60%;
    border: none;
    justify-content: center;
    cursor: pointer;
    align-items: center;
    background: transparent;
}

.navbar-search-img {
    display: flex;
    height: 45%;
    width: auto;

}

.navbar-seperator {
    display: flex;
    width: 100%;
    height: 1.5%;
    border: none;
    background-color: #1A1A1A;
}