<div class="display-info-container">
    <div class="display-info-title-container">
        <img src="logo/PrimoTitle.png" alt="PrimoTitle" class="display-info-logo" />
    </div>
    <div class="basic-info-parcelle">
        <p style="color: white">{{ parcelleId }}</p>
    </div>
    <div class="price-info-parcelle">
        
    </div>
    <div class="interest-info-parcelle">
        
    </div>
    <div class="other-info-parcelle">
        <div class="crims-info-parcelle">

        </div>
        <div class="transports-info-parcelle">

        </div>
    </div>
</div>
