<div class="display-info-container">
    <div class="display-info-title-container">
        <img src="logo/PrimoTitle.png" alt="PrimoTitle" class="display-info-logo" />
    </div>
    <div *ngIf="parcelleSelected; else unSelected" class="informations-container">
        <div class="basic-info-parcelle">
            <div class="city-district-container">
                <div class="city-district">
                    <div class="city-container">
                        <p class="city-text" style="margin-left: 10%;">Ville</p>
                    </div>
                    <div class="city-value-container">
                        <p class="city-value-text" style="margin-left: 10%;">{{ adress.City }}</p>
                    </div>
                </div>
                <div class="city-district">
                    <div class="city-container">
                        <p class="city-text" style="margin-left: 10%;">Quartier</p>
                    </div>
                    <div class="city-value-container">
                        <p class="city-value-text" style="margin-left: 10%;">{{ adress.District }}</p>
                    </div>
                </div>
            </div>
            <div class="basic-info">
                <div class="city-container">
                    <p class="city-text">Taille <span style="color: #CED8E1">(m2)</span></p>
                </div>
                <div class="city-value-container">
                    <p class="city-value-text">{{ adress.Size }}</p>
                </div>
            </div>
            <div class="basic-info">
                <div class="city-container">
                    <p class="city-text">Identifiant cadastral</p>
                </div>
                <div class="city-value-container">
                    <p class="city-value-text">{{ parcelleId }}</p>
                </div>
            </div>
        </div>
        <div class="price-info-parcelle">
            <div class="price-container">
                <div class="price-text-container">
                    <p class="price-text">Prix m2</p>
                </div>
                <div class="price-value-container">
                    <div class="price-value-green-bubble">
                        <p style="color: black; font-weight: bold; font-size: 1em;">{{ price.average_price }} €</p>
                    </div>
                </div>
            </div>
            <div class="chart-graphic-container">
                <img src="chart-graphic.svg" alt="chart-graphic" class="chart-graphic" />
            </div>
        </div>

        <div class="interest-info-parcelle">
            <div class="interest-title-container">
                <p style="color: white; font-weight: bold; font-size: 1em;">Points d'intéret</p>
            </div>
            <img src="chart-interest.svg" alt="chart-interest" class="chart-interest" />
        </div>

        <div class="other-info-parcelle">
            <div class="crims-info-parcelle">
                <div class="crims-container">
                    <div class="crims-title-container">
                        <p style="color: white; font-weight: bold; font-size: 1em;">Criminalité</p>
                    </div>
                    <div class="arrow-container">
                        <img *ngIf="crime?.crime_trends?.increasing === true; else decrease" src="red-arrow.svg" alt="red-arrow" class="arrow" />
                        <ng-template #decrease>
                            <img *ngIf="crime?.crime_trends?.decreasing === true; else stable" src="green-arrow.svg" alt="green-arrow" class="arrow" />
                        </ng-template>
                        <ng-template #stable>
                            <img *ngIf="crime?.crime_trends?.stable === true" src="yellow-arrow.svg" alt="yellow-arrow" class="arrow" />
                        </ng-template>
                    </div>
                </div>
                <img src="chart-crime.svg" alt="chart-crime" class="chart-crime" />
            </div>
            <div class="transports-info-parcelle">

            </div>
        </div>
        <button class="see-more-button" (click)="onClick()">
            <p class="see-more-text">Voir plus</p>
        </button>
    </div>
    <ng-template #unSelected>
        <div class="informations-container">
            <div class="unselected-container">
                <p class="unselected-text">Sélectionnez une parcelle pour voir les informations !</p>
            </div>
        </div>
    </ng-template>
</div>
