@import "tailwindcss";

@font-face {
  font-family: UberMove;
  src: url('./assets/fonts/UberMoveMedium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: UberMoveBold;
  src: url('./assets/fonts/UberMoveBold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}

@theme {
  --font-UberMove: UberMove, "Fira Sans";
  --font-UberMoveBold: UberMoveBold, "Fira Sans";
}

@keyframes fade-in {
  from {
    opacity: 0;
    transform: scale(0.97);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}

.animate-fade-in {
  animation: fade-in 0.2s ease-out;
}

@keyframes slideInLeft {
  from {
    opacity: 0;
    transform: translateX(-50px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.animate-slide-in-left {
  animation: slideInLeft 0.8s cubic-bezier(0.4, 0, 0.2, 1) forwards;
}

.scrollbar-custom::-webkit-scrollbar {
  width: 8px;
  background: transparent;
}

.scrollbar-custom::-webkit-scrollbar-thumb {
  background-color: rgba(100, 100, 100, 0.5);
  border-radius: 10px;
  border: 2px solid transparent;
  background-clip: content-box;
}

.scrollbar-custom {
  scrollbar-width: thin;
  scrollbar-color: rgba(100, 100, 100, 0.5) transparent;
}