:root {
    --bg-color: #F5F7FA;
    --text-color: #000;
    --container-bg: #E6E9ED;
    --container-shadow: rgba(0, 0, 0, 0.1);
    --button-bg: #48CFAD;
    --button-hover: #37BC9B;
}

.dark-mode {
    --bg-color: #3C3B3D;
    --text-color: #ffffff;
    --container-bg: #1e1e1e;
    --container-shadow: rgba(255, 255, 255, 0.1);
    --button-bg: #8067B7;
    --button-hover: #6A50A7;
}

@font-face {
  font-family: 'InterMedium';
  src: url('/assets/fonts/Inter_18pt-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

body {
  font-family: 'InterMedium', sans-serif;
  background-color: black;
}
