.animated-gradient {
    background: linear-gradient(90deg, #c0fafd 0%, #f2ebde 50%, #fed701 100%);
    background-size: 200% 100%;
    background-position: 0% 50%;
    animation: gradientMove 4s linear infinite;
}

@keyframes gradientMove {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
