name : CI

on:
  push:
    branches: [ dev, main ]

  pull_request:
    branches: [ dev, main ]

jobs:
  build:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [18]

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v4
      with:
        node-version: ${{ matrix.node-version }}
        cache: 'yarn'
        cache-dependency-path: |
          web/yarn.lock
          back/yarn.lock

#### FRONT-WEB ####
    - name: Install frontend dependencies [WEB]
      working-directory: ./web 
      run: yarn install

    - name: Build frontend [WEB]
      working-directory: ./web
      run: yarn run build

#### BACK ####
    - name: Install back dependencies
      working-directory: ./back
      run: yarn install
    
    - name: Build back
      working-directory: ./back
      run: yarn run build
