.parcel-list-element {
    display: flex;
    padding: 2vh;
    border-bottom: 0.5px solid #7A7A7A;
    align-items: center;
}

.parcel-list-element:hover {
    background-color: #313131;
}

.parcel-list-grid {
    display: grid;
    grid-template-columns: 55px 1.7fr 0.7fr 100px 0.5fr;
    align-items: center;
    gap: 2vh;
}

.parcel-list-element-image {
    width: 40px;
    height: 40px;
}

.parcel-list-element-text-ID,
.parcel-list-element-text-price {
    overflow: hidden;
    text-overflow: ellipsis;
}

.parcel-list-element-stars-container {
    display: flex;
    justify-content: left;
    margin-left: 7vh;
}

.parcel-list-element-star {
    padding-right: 0.3vh;
}

.parcel-list-element-del {
    cursor: pointer;
    margin-left: 7vh;
}