<div class="parcel-list-element">
    <img src="smart-ranking/parcelicon.svg" class="parcel-list-element-image" />
        <div class="parcel-list-element-text">
            <p class="parcel-list-element-text-ID">Parcelle n° 75105 AB 0123</p>
            <p class="parcel-list-element-text-price">100 €/m²</p>
        </div>
        <div class="parcel-list-element-stars-container">
            <img src="smart-ranking/star.svg" class="parcel-list-element-star" />
            <img src="smart-ranking/star.svg" class="parcel-list-element-star" />
            <img src="smart-ranking/star.svg" class="parcel-list-element-star" />
            <img src="smart-ranking/star.svg" class="parcel-list-element-star" />
            <img src="smart-ranking/star.svg" class="parcel-list-element-star" />
        </div>
        <img src="smart-ranking/del.svg" class="parcel-list-element-del" />
</div>
